
@media screen and (min-width: 768px) {
    span#menu{
        display: none;
    }
    menu{
        background-color: rgb(75, 75, 75);
        display: block;
    }
    menu > ul > li{
        display: inline-block;
        padding: 5px 0px;
    }
    main{
        width: 768px;
    }
}