*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}

a{
    background-color: red;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 4vw;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}
a:hover{
    background-color: brown;
}